.answers-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-items: center;
  align-items: center;
  margin-top: 2rem;
}
.btn-answer__select {
  width: 15rem;
  padding: 1.2rem;
  border: none;
  margin: 1rem;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-size: var(--font-size-small);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(33, 148, 177);
  cursor: pointer;
  background-color: var(--btn-secondary);
}
.btn-answer__select:hover {
  background-color: rgb(24, 113, 136);
}

.btn-answer__select {
  border-radius: 25px;
  position: relative;
}

.btn-answer__select:active,
.btn-next:active {
  outline: none;
}

input[type="radio"] + label {
  background: var(--primary);
}

input[type="radio"] + label:hover {
  background: var(--primary-light);
}

.radio-input input[type="radio"] {
  /* Hide original inputs */
  position: absolute;
  height: 58px;
  width: 60px;
  transform: scaleX(4);
  cursor: pointer;
  right: 44%;
  z-index: 1;
  opacity: 0;
  margin-top: 1.1rem;
}

.radio-input label {
  width: 15rem;
  padding: 1.2rem;
  border: none;
  margin: 1rem;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-size: var(--font-size-small);
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: inline-block;
  position: relative;
  background-color: var(--primary);
}

.radio-input input[type="radio"]:checked + label {
  background-color: var(--primary-light);
  border: 1px solid white;
  transition: 0.5s ease-in-out;
}

.radio-disabled {
  pointer-events: none;
}

.btn-next,
.btn-restart {
  margin-top: 1rem;
  align-self: center;
  padding: 0.8rem;
  width: 12rem;
  border: none;
  background-color: #5a1e5a;
  border-radius: 25px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-next:hover {
  background-color: #5a1e5a;
}

.btn-restart {
  margin-top: 2rem;
}

@media screen and (max-width: 500px) {
  .radio-input input[type="radio"] {
    height: 42px;
    right: 40%;
    margin-top: 1.6rem;
  }

  .radio-input label {
    width: 14rem;
    padding: 0.9rem;
    margin: 0.6rem;
  }

  .btn-answer {
    width: 28rem;
    font-size: 17px;
    padding: 1.3rem;
  }
  .btn-restart {
    width: 20rem;
  }
}
