.description-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media (max-width: 800px) {
  .description-wrapper {
    grid-template-columns: 1fr;
  }
}

.right-text {
  padding: 2rem;
}
.description-header {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: var(--font-size-medium);
  color: whitesmoke;
}

.paragraph {
  font-size: var(--font-size-small);
  line-height: 1.8;
  color: whitesmoke;
}

.btn-play-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.btn-play:hover {
  transform: scale(1.02, 1.02);
  background-color: var(--primary-light);
}

.btn-play:after {
  outline: none;
}

@media screen and (max-width: 500px) {
  .right-text {
    padding: 1rem;
  }
  .description-header {
    font-size: var(--font-size-small);
  }
  .paragraph {
    font-size: 14px;
  }
}
