.quiz-container {
  padding: 1rem;
  background-image: linear-gradient(to right, #2f4d64c9 0%, rgba(18, 16, 26, 0.895) 100%);
}
.quiz-wrapper {
  padding: 2rem 2rem;
  min-height: 90vh;
  width: 100%;
  border: 1.5px solid rgba(255, 255, 255, 0.555);
  border-radius: 25px;
  box-shadow: 0 1rem 1rem rgba(214, 204, 204, 0.5);
}

.description-container {
  padding: 1rem 4rem;
  z-index: 3;
  border-radius: 3px;
  animation-name: popupopen;
  animation-duration: 1s;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  min-height: 80vh;
}

.exit {
  width: 90vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.exit__link {
  text-decoration: none;
  color: whitesmoke;
  border: 1px solid white;
  padding: .2rem .9rem;
  border-radius: 25px;
}
.exit__text {
  color: whitesmoke;
  margin-right: 1rem;
  font-size: 24px;
}

.exit__icon {
  color: whitesmoke;
  font-size: 1.3em;
}

.exit__link:hover {
  background-color: var(--primary-light);
  transform: translateY(-0.1rem);
  transition: .5s ease-in-out;
}

.big-image-left {
  display: inline-block;
  overflow: hidden;
  height: 439px;
  width: 360px;
  -o-object-fit: cover;
  object-fit: cover;
}

.big-image-left img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.close-btn-bigWindow {
  position: absolute;
  top: -3%;
  right: -0.5%;
  color: white;
  cursor: pointer;
}

.close-btn-bigWindow:hover {
  transform: scale(1.02, 1.02);
  color: rgb(189, 166, 166);
}

/* Questions */
.question-container {
  position: relative;
  animation: popupopen;
  animation-duration: 1s;
  text-align: center;
  align-items: center;
  justify-items: center;
}

.question {
  color: whitesmoke;
  font-size: var(--font-size-medium-small);
}

@keyframes popupopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .description-container {
    grid-template-columns: 1fr;
    padding: 3rem 0;
  }
  .big-image-left {
    height: 302px;
    width: 241px;
  }
  .question {
    font-size: var(--font-size-medium);
  }
}

@media screen and (max-width: 500px) {
  .question {
    font-size: var(--font-size-small);
  }
}
