.card {
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 24rem;
  width: 13.7rem;
}
.card-side {
  height: 23rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 3px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all 1s ease;
  box-shadow: 0 3rem 6rem rgba(29, 26, 26, 0.5);
  text-align: center;
}

.play-game-btn:hover {
  transform: scale(1.1, 1.1);
  animation-name: grow;
}

.card-side-front {
  height: 100%;
}

.play-game-btn {
  padding: 0.8rem;
  width: 8rem;
  background-color: #5a1e5a;
  color: #fff;
  border: none;
  border-radius: 50px;
  margin-top: 18rem;
  text-transform: uppercase;
  cursor: pointer;
}

.play-game-btn:hover {
  background-color: #5a1e5a;
}
