.title-container,
.big-container {
  position: relative;
  background-image: linear-gradient(
      to right bottom,
      rgba(225, 228, 235, 0.5),
      rgba(147, 137, 167, 0.8)
    ),
    url("../../imgs/background.jpg");
  background-size: cover;
  background-position: top;
}

.title-container {
  height: 100vh;
  width: 100%;
}

.title-container {
  padding: 12rem 8rem;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.title-logo {
  width: 30%;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.quiz-font {
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.title-logo {
  width: 30%;
  margin: 0.8rem;
}

.quiz-font {
  margin: 0.8rem;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-enter-quiz {
  width: 12rem;
  padding: 1.2rem;
  border: none;
  background-color: var(--button-blue-primary);
  color: #fff;
  font-size: var(--font-size-small);
  border-radius: 50px;
  text-transform: uppercase;
  box-shadow: 0 2rem 4rem rgb(31, 26, 26, 0.8);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.btn-enter-quiz:hover {
  transform: translateY(-0.1rem);
}

.btn-enter-quiz:after {
  outline: none;
}

.grow {
  transition: all 0.2s ease-in-out;
}

/* KEYFRAMES */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
