.title-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.title-logo {
  width: 30%;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.quiz-font {
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.title-logo {
  width: 24%;
  margin: 0.5rem;
}

.quiz-font {
  margin: 0.8rem;
  width: 14%;
}

.btn- {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-enter-quiz {
  width: 12rem;
  padding: 1rem;
  border: none;
  background-color: var(--button-blue-primary);
  color: #fff;
  font-size: var(--font-size-small);
  border-radius: 50px;
  text-transform: uppercase;
  box-shadow: 0 2rem 4rem rgb(31, 26, 26, 0.8);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: var(--primary);

}

.btn-enter-quiz:hover {
  transform: translateY(-0.1rem);
  background-color: var(--primary-light);
}

.btn-enter-quiz:after {
  outline: none;
}

.grow {
  transition: all 0.2s ease-in-out;
}

/* KEYFRAMES */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@media screen and (max-width: 1024px) {
  .title-logo {
    width: 46%;
  }
  
  .quiz-font {
    width: 30%;
  }
}

@media screen and (max-width: 500px) {
  .title-logo {
    width: 66%;
  }
}
