*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62, 5%;
}

.App {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}
p {
  font-family: "Source Sans Pro", sans-serif;
}
a {
  text-decoration: none;
}
:root {
  /* fonts */
  --font-size-big: 4rem;
  --font-size-medium: 2.4rem;
  --font-size-medium-small: 1.6rem;
  --font-size-small: 1rem;
  --font-size-verysmall: 1.3rem;
  /* color palette */
  --primary: #5a1e5a;
  --primary-light: #9c399c;
  --right-answer: rgb(26, 180, 65);
  --wrong-answer: rgb(204, 38, 38);
  --secondary: rgb(39, 24, 95);
  --secondary-light: rgb(68, 42, 163);
}
